/* Please refer to GTK4 CSS specification */

$bg:     #161616;
$fg:     #B9B9B9;
$accent: #684EFF;

* {
	all: unset;
}

window {
	border: 1px $accent solid;
	border-radius: 10px;

	background-color: $bg;
}

.main {
	margin: 20px;
}

.client {
	color: white;
	font-family: 'Noto Sans';
	font-size: 1.1em;

	&.new {
		animation: client-add 300ms ease;
	}

	&.removed {
		animation: client-remove 300ms ease;
	}

	.icon {
		color: $fg;

		padding-right: 13px;

		-gtk-icon-size: 16px;
		-gtk-icon-style: symbolic;
	}

	.name {
		/* Hide Application Name */
		// font-size: 0;
	}

	.description {
		/* Hide Application Description */
		/* font-size: 0; */
	}

	.volume {
		color: $fg;
		padding-left: 15px;
		padding-bottom: 2px;
	}

	scale {
		/* Slider Bar */
		trough {
			min-height: 4px;

			background-color: lighter($bg);
			border-radius: 10px;

			/* Slider Knob */
			slider {
				margin-left: 0;
				margin-right: 0;

				margin-top: -7px;
				margin-bottom: -7px;

				padding: 0 0;

				border: none;
				border-radius: 2px;

				min-height: 14px;
				min-width: 6px;

				background-color: $accent;
			}

			/* Slider Bar Filled */
			highlight {
				background-color: $accent;

				border: none;
				border-radius: 10px;

				margin: 1px;

				transition: background-color 300ms;
			}

			/* Slider Peak */
			fill {
				background: none;

				border-top: 1px solid rgba($accent, 0.8);
				border-bottom: 1px solid rgba($accent, 0.8);
				border-radius: 10px;

				margin: 0px;
			}
		}
	}

	&.muted {
		.volume {
			text-decoration: line-through;
		}

		scale {
			trough {
				slider {
					background: shade($accent, 0.5);
				}

				highlight {
					background: shade($accent, 0.5);
				}

				fill {
					border-top: 1px solid shade($accent, 0.5);
					border-bottom: 1px solid shade($accent, 0.5);
				}
			}
		}
	}
}

@keyframes client-add {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.client.vertical {
	&.new {
		animation: client-add-vertical 300ms ease;
	}

	&.removed {
		animation: client-remove-vertical 300ms ease;
	}

	.icon {
		padding-right: 0px;
		padding-bottom: 5px;

		-gtk-icon-size: 20px;
	}

	.volume {
		padding-top: 10px;
		padding-left: 0px;
		padding-bottom: 0px;
	}

	scale {
		/* Slider Bar */
		trough {
			min-width: 4px;

			margin-top: 10px;

			/* Slider Knob */
			slider {
				margin-top: 0;
				margin-bottom: 0;

				margin-left: -7px;
				margin-right: -7px;

				min-height: 6px;
				min-width: 14px;
			}

			/* Slider Peak (Vertical) */
			fill {
				border-top: none;
				border-bottom: none;
				border-left: 1px solid rgba($accent, 0.8);
				border-right: 1px solid rgba($accent, 0.8);
			}
		}
	}
}

@keyframes client-add-vertical {
	from {
		transform: translateY(200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove-vertical {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}
