/* Please refer to GTK4 CSS specification */

/* https://docs.gtk.org/gtk4/css-properties.html */
@define-color bg     #161616;
@define-color fg     #B9B9B9;
@define-color accent #684EFF;

* {
	all: unset;
}

window {
	border: 1px @accent solid;
	border-radius: 10px;

	background-color: @bg;
}

.main {
	margin: 20px;
}

.client {
	color: white;
	font-family: 'Noto Sans';
	font-size: 1.1em;
}

.client.new {
	animation: client-add 300ms ease;
}

.client.removed {
	animation: client-remove 300ms ease;
}

.client .icon {
	color: @fg;

	padding-right: 13px;

	-gtk-icon-size: 16px;
	-gtk-icon-style: symbolic;
}

/* Hide Application Name
.client > .name {
	font-size: 0;
} */

/* Hide Application Description
.client > .description {
	font-size: 0;
} */

/* Numeric Volume Level */
.client .volume {
	color: @fg;
	padding-left: 10px;
	padding-bottom: 2px;
}

/* Numeric Volume Level */
.client.muted .volume {
	text-decoration: line-through;
}

/* Slider Knob */
.client.muted slider {
	background: shade(@accent, 0.5);
}

/* Slider Bar Filled */
.client.muted highlight {
	background: shade(@accent, 0.5);
}

/* Slider Peak */
.client.muted fill {
	border-top: 1px solid shade(@accent, 0.5);
	border-bottom: 1px solid shade(@accent, 0.5);
}

/* Slider Bar */
scale > trough {
	min-height: 4px;

	background-color: lighter(@bg);

	border: none;
	border-radius: 10px;
}

/* Slider Knob */
scale > trough > slider {
	margin-left: 0;
	margin-right: 0;

	margin-top: -7px;
	margin-bottom: -7px;

	padding: 0 0;

	border: none;
	border-radius: 2px;

	min-height: 14px;
	min-width: 6px;

	background: @accent;
}

/* Slider Bar Filled */
scale > trough > highlight {
	background-color: @accent;

	border: none;
	border-radius: 10px;

	margin: 1px;

	transition: background-color 300ms;
}

/* Slider Peak */
scale > trough > fill {
	background: none;

	border-top: 1px solid alpha(@accent, 0.8);
	border-bottom: 1px solid alpha(@accent, 0.8);
	border-radius: 10px;

	margin: 0px;
}

@keyframes client-add {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.client.vertical.new {
	animation: client-add-vertical 300ms ease;
}

.client.vertical.removed {
	animation: client-remove-vertical 300ms ease;
}

.client.vertical .icon {
	padding-right: 0px;
	padding-bottom: 5px;

	-gtk-icon-size: 20px;
}

/* Numeric Volume Level */
.client.vertical .volume {
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 0px;
}

/* Slider Bar */
scale.vertical > trough {
	min-width: 4px;

	margin-top: 10px;
}

/* Slider Knob (Vertical) */
scale.vertical > trough > slider {
	margin-top: 0;
	margin-bottom: 0;

	margin-left: -7px;
	margin-right: -7px;

	min-height: 6px;
	min-width: 14px;
}

/* Slider Peak (Vertical) */
scale.vertical > trough > fill {
	border-top: none;
	border-bottom: none;
	border-left: 1px solid alpha(@accent, 0.8);
	border-right: 1px solid alpha(@accent, 0.8);
}

@keyframes client-add-vertical {
	from {
		transform: translateY(200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove-vertical {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}
