/* Please refer to GTK4 CSS specification */

/* https://docs.gtk.org/gtk4/css-properties.html */
$bg:     #161616;
$fg:     #DDDDDD;
$accent: #684EFF;

* {
	all: unset;
}

window {
	border: 1px $accent solid;
	border-radius: 10px;

	background-color: $bg;
}

.side {
	$hide: false;

	background-color: $bg;

	.output {
		color: $fg;
		transition: background 750ms;
		padding: 5px;

		&.master {
				background: shade($accent, 0.4);
				transition: background 0ms;
		}

		&.master:hover {
				background: shade($accent, 0.4);
		}

		.icon {
				-gtk-icon-style: symbolic;
				-gtk-icon-size: 16px;
		}
	}

	.output:hover {
		background: $accent;
	}

	.output:active {
		background: shade($accent, 1.1);
	}

	@if $hide {
		min-height: 0;
		min-width:	0;

		.output {
			padding: 0;

			.icon {
				-gtk-icon-style: symbolic;
				-gtk-icon-size: 0;
			}
		}
	}
}

.main {
	margin: 20px;
}

.client {
	$hide-name: false;
	$hide-description: false;

	color: $fg;
	font-family: 'Noto Sans';
	font-size: 1.1em;

	.icon {
		color: $fg;

		-gtk-icon-style: symbolic;
	}

	@if $hide-name {
		.name {
			font-size: 0;
		}
	}

	@if $hide-description {
		.description {
			font-size: 0;
		}
	}

	.volume {
		/* Numeric Volume Level */
		color: $fg;
	}

	scale {
		trough {
			/* Slider Bar */
			background-color: lighter($bg);
			border-radius: 10px;

			slider {
				/* Slider Knob */
				padding: 0;

				border: none;
				border-radius: 2px;

				background-color: $accent;
				transition-duration: 400ms;
			}

			slider:hover {
				/* Slider Knob */
				background-color: shade($accent, 1.1);
			}

			highlight {
				/* Slider Bar Filled */
				background-color: $accent;

				border: none;
				border-radius: 10px;

				margin: 1px;

				transition: background-color 300ms;
			}

			fill {
				/* Slider Peak */
				background: none;

				border-radius: 10px;

				margin: 0px;
			}
		}
	}

	scale:active {
		trough slider {
			/* Slider Knob */
			background-color: shade($accent, 1.1);
			transform: scale(1.1);
		}
	}

	&.muted {
		.volume {
			/* Numeric Volume Level */
			text-decoration: line-through;
		}

		scale {
			trough {
				slider {
					/* Slider Knob */
					background: shade($accent, 0.5);
				}

				highlight {
					/* Slider Bar Filled */
					background: shade($accent, 0.5);
				}
			}
		}
	}
}

.client.horizontal {
	&.new {
		animation: client-add-horizontal 300ms ease;
	}

	&.removed {
		animation: client-remove-horizontal 300ms ease;
	}

	.icon {
		padding-right: 13px;

		-gtk-icon-size: 16px;
	}

	.volume {
		/* Numeric Volume Level */
		padding-left: 15px;
		padding-bottom: 2px;
	}

	scale {
		trough {
			/* Slider Bar */
			min-height: 4px;

			slider {
				/* Slider Knob */
				min-height: 14px;
				min-width: 6px;

				margin-top: -7px;
				margin-bottom: -7px;
			}

			fill {
				/* Slider Peak */
				border-top: 1px solid rgba($accent, 0.8);
				border-bottom: 1px solid rgba($accent, 0.8);
			}
		}
	}

	&.muted {
		scale {
			trough {
				fill {
					/* Slider Peak */
					border-top: 1px solid shade($accent, 0.5);
					border-bottom: 1px solid shade($accent, 0.5);
				}
			}
		}
	}
}

@keyframes client-add-horizontal {
	from {
		transform: translateX(-200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove-horizontal {
	from {
		opacity: 1;
	}
	to {
		transform: translateX(-200px);
		opacity: 0;
	}
}

.client.vertical {
	&.new {
		animation: client-add-vertical 300ms ease;
	}

	&.removed {
		animation: client-remove-vertical 300ms ease;
	}

	.icon {
		padding-bottom: 5px;

		-gtk-icon-size: 20px;
	}

	.volume {
		/* Numeric Volume Level */
		padding-top: 10px;
	}

	scale {
		trough {
			/* Slider Bar */
			min-width: 4px;

			margin-top: 10px;

			slider {
				/* Slider Knob */
				margin-left: -7px;
				margin-right: -7px;

				min-height: 6px;
				min-width: 14px;
			}

			fill {
				/* Slider Peak */
				border-left: 1px solid rgba($accent, 0.8);
				border-right: 1px solid rgba($accent, 0.8);
			}
		}
	}

	&.muted {
		scale {
			trough {
				fill {
					/* Slider Peak */
					border-left: 1px solid shade($accent, 0.5);
					border-right: 1px solid shade($accent, 0.5);
				}
			}
		}
	}
}

@keyframes client-add-vertical {
	from {
		transform: translateY(200px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes client-remove-vertical {
	from {
		opacity: 1;
	}
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}
